In [1]:
"""Merge & compress dataframe.
"""
import numpy as np
import pandas as pd
import sys
sys.path.append(".")

In [2]:
from scripts.util import timer, reduce_mem_usage

with timer("reading feather data"):
    DATA_FEATHER = "data/processed/"
    train = pd.read_feather(DATA_FEATHER + "train.ftr")
    test = pd.read_feather(DATA_FEATHER + "test.ftr")

[reading feather data] start
[reading feather data] done in 3 s

In [3]:
train.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,...,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,day,month,dayofweek,meter_label,log_meter_reading
0,0,0,2016-01-01,0.0,0,Education,7432,2008.0,NaN,25.0,...,NaN,1019.700012,0.0,0.0,0,1,1,4,electricity,0.0
1,1,0,2016-01-01,0.0,0,Education,2720,2004.0,NaN,25.0,...,NaN,1019.700012,0.0,0.0,0,1,1,4,electricity,0.0
2,2,0,2016-01-01,0.0,0,Education,5376,1991.0,NaN,25.0,...,NaN,1019.700012,0.0,0.0,0,1,1,4,electricity,0.0
3,3,0,2016-01-01,0.0,0,Education,23685,2002.0,NaN,25.0,...,NaN,1019.700012,0.0,0.0,0,1,1,4,electricity,0.0
4,4,0,2016-01-01,0.0,0,Education,116607,1975.0,NaN,25.0,...,NaN,1019.700012,0.0,0.0,0,1,1,4,electricity,0.0

In [6]:
train.columns.tolist()

['building_id',
 'meter',
 'timestamp',
 'meter_reading',
 'site_id',
 'primary_use',
 'square_feet',
 'year_built',
 'floor_count',
 'air_temperature',
 'cloud_coverage',
 'dew_temperature',
 'precip_depth_1_hr',
 'sea_level_pressure',
 'wind_direction',
 'wind_speed',
 'hour',
 'day',
 'month',
 'dayofweek',
 'meter_label',
 'log_meter_reading']

In [9]:
train.primary_use.dtype

dtype('O')